body {
  background: url("/images/background.png") no-repeat fixed top;
  background-size: cover;
}

.nav-like ul li {list-style-type: none;}

.nav-like {
	text-align: center;
}

.button span {
	text-indent: -9999999px;
	display: inline-block;
}

.button {
	border: none;
	cursor: pointer;
}

#load-game {
	background:url("/images/button_start.png") no-repeat;
	width:435px;
    height:112px;
}

#options {
	background:url("/images/button_options.png") no-repeat;
	width:429px;
    height:111px;
}

#credits {
	background:url("/images/button_credits.png") no-repeat;
	width:429px;
    height:111px;
}

#clock {
	width: 440px;
	height: 456px;
    margin: auto;
}

.selectup {
	height: 77px;
	width: 51px;
	background:url("/images/button_up.png") no-repeat;
}

.selectdown {
	height: 77px;
	width: 51px;
	background:url("/images/button_down.png") no-repeat;
}

.selectors button {
	display: block;
}
.choice {
	display: inline-block;
}
#check {
	height: 112px;
	width: 462px;
	background:url("/images/verify.png") no-repeat;
	display: block;
}

/*body {
    zoom: 0.8; /* Old IE only */
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    overflow: hidden;
}*/